/* Write your CSS here */
.app-item-container {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.app-item-image {
  width: 65px;
}

.app-item-title {
  color: #1e293b;
  font-family: 'Bree Serif';
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
